@model Dz2.Models.Tractor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tractor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.model_name_tractor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model_name_tractor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serial_number_tractor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serial_number_tractor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TractorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
