@model Dz2.Models.Engine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Engine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.model_name_engine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model_name_engine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serial_number_engine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serial_number_engine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type_engine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type_engine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EngineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
